.table {
    margin-top: 20px;
    Overflow-x:scroll;
    height: 500px;
    color: #6a5d5d;
    background-color: white;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}

div::-webkit-scrollbar{
    height:7px;
}